@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: var(--font-lora);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-playfair);
  }
}

.btn-primary {
  @apply flex items-center justify-center gap-2 bg-orange-600 hover:bg-orange-700 
         transition text-white font-medium disabled:cursor-not-allowed 
         disabled:bg-gray-400;
}

/* Variantes responsive */
.btn-primary-mobile {
  @apply flex-1 py-3 rounded-xl md:flex-none md:px-6 md:py-2 md:rounded-full;
}

h1 {
  @apply text-3xl md:text-6xl
}

h2 {
  @apply text-2xl md:text-4xl
}

body {
  background: var(--background);
  color: var(--foreground);
}
