@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2875c4;
  --secondary: #9628c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #fd9a00;
    --secondary: #00fd9a;
  }
}

@layer base {
  body {
    font-family: var(--font-lora);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-playfair);
  }
}

.btn {
  @apply border rounded-2xl p-1 px-2 cursor-pointer
}

.btn-primary {
  @apply border-primary text-white dark:text-black
}

.btn-secondary {
  @apply border-secondary 
}

.btn-with-icon {
  @apply flex items-center justify-center gap-2 text-black dark:text-white
}


.btn-favorite {
  @apply flex items-center justify-center gap-2 bg-orange-600 hover:bg-orange-700 
         transition text-white font-medium disabled:cursor-not-allowed 
         disabled:bg-gray-400;
}

.btn-favorite-mobile {
  @apply flex-1 py-3 rounded-xl md:flex-none md:px-6 md:py-2 md:rounded-full;
}

.border-bottom-gray {
  @apply border-b border-gray-400/30
}

h1 {
  @apply text-3xl md:text-6xl
}

h2 {
  @apply text-xl md:text-3xl
}

body {
  background: var(--background);
  color: var(--foreground);
}
